<!-- Publications List-->

<!-- Search field -->
<mat-form-field style="width: 100%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <!-- Publications data table -->
<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
  <!-- Title Column -->
  <ng-container matColumnDef="title"  >
    <th (click)="changeOrder('title')" mat-header-cell *matHeaderCellDef > Title </th>
    <td  mat-cell *matCellDef="let element" style="padding-right: 24px;"> {{element.title}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th (click)="changeOrder('date')" mat-header-cell *matHeaderCellDef  style="width: 120px;"> Date </th>
    <td mat-cell *matCellDef="let element" style="padding-right: 24px;"> {{element.date | date:'shortDate'}} </td>
  </ng-container>

  <!-- Go to edit publication Column -->
  <ng-container matColumnDef="go" >
    <th  mat-header-cell *matHeaderCellDef > &nbsp; </th>
    <td mat-cell *matCellDef="let element" (click)="onClickEdit(element)"><span style="color:darkslategrey"><i class="fa fa-play" aria-hidden="true"></i></span></td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Data table paginator -->
<div >
  
  <mat-paginator [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pagChange( $event )"
      class="mat-elevation-z8">
      
  </mat-paginator>
  
</div>
