<!-- Shows Information of a Selected Publication, Allows the CRUD operations  -->
<mat-card class="sweatworks-publication-card ">
    <mat-card-title>{{cardTitle}}</mat-card-title>
    <form #myForm="ngForm">
        <mat-card-content fxLayout="column">
            <mat-form-field>
                <textarea matInput placeholder="Title" value="" name="title" required="true"  [(ngModel)]="publication.title"  ></textarea>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Body" value="" name="body" rows="5" required="true"  [(ngModel)]="publication.body"  ></textarea>
            </mat-form-field>
            <table class="sweat-date-field" cellspacing="10">
              <tr>
                <td>
                  <mat-form-field class="date">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  name="date" required="true" placeholder="Date" [(ngModel)]="hourAndMin.date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                  </mat-form-field>
                </td>
                <td><mat-form-field class="hour">
                  <input type="number" matInput  maxlength="2" placeholder="Hour" name="hour" [(ngModel)]="hourAndMin.hour">
                </mat-form-field></td>
                <td><mat-form-field class="hour">
                  <input type="number" matInput  maxlength="2" placeholder="Minutes" name="min" [(ngModel)]="hourAndMin.min">
                </mat-form-field></td>
              </tr></table>
        </mat-card-content>
        <button mat-raised-button color="default" (click)="onClickSave()" [disabled]="!myForm.valid "  style="float:right">Save</button>
        <button mat-raised-button color="warn" (click)="onClickDelete()" [disabled]="!myForm.valid "  style="float:right">Delete</button>
        <a routerLink="/sweatworks" mat-raised-button color="gray" >Cancel</a>
        
    </form>
</mat-card>