.sweat-date-field {
    margin-left: -10px;
    margin-right: -10px;
}

.sweat-date-field .date{
    min-width: 100px;
    max-width: 300px;
}

.sweat-date-field .hour{
    min-width: 85px;
    max-width: 85px;
}