/* Custom Styles */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-list {
    overflow-y: auto;
}

.sweatworks-left-sidebar {
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    min-height: 100vh;
    height: 0;
    background-color: rgb(207, 207, 207);
}

.sweatworks-box-shadow{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mat-list .mat-list-item {
    height: 60px;
}

.mat-list {
    padding-top: 0;
}

.sweatworks-item {
    border-bottom: solid 1px #b1b1b1;
    color:#333; 
    font-size: 14px;
    width: 100%;
    padding-top: 6px;
}

.sweatworks-item .name{
    font-weight: bold;
}

.sweatworks-item .email{
    font-style: italic;
    padding-bottom: 6px;
    margin-top: 6px;
}

.sweatworks-item:hover{
    cursor: pointer;
}

.sweatworks-selected-item {
    background-color: rgb(131, 131, 131);

}

.sweatworks-selected-item .name{

    color:white;
}
.sweatworks-title-bar { 
    height: 60px;
    background-color: rgb(131, 131, 131);
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.sweatworks-hover {
    cursor: pointer;
}

.sweatworks-sidebar-title {
    width: 100%;
    height: 67px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
   /* background-color: #fbc02d;*/
    background-color: #C62828;
    color: white;
}

.sweatworks-card {
    width: 300px;
    max-width: 300px;
}

.sweatworks-publication-card {
    width: 400px;
    max-width: 400px;
}