<!-- Main Layout-->
<div fxLayout="row"  fxLayoutAlign="left top" class="sweatworks-full-container ">
    
    <!-- Left sidebar for author's publications -->
    <div  fxLayout="column" fxLayoutAlign="start start" class="sweatworks-left-sidebar ">

        <div fxLayout="row"  fxLayoutAlign="start center" class="sweatworks-sidebar-title" >

            <div fxLayout="row" style="width: 100%;"> 
              <div fxLayout="column" fxFlex="3 3 auto" >
                  <h2>Authors</h2>
              </div>
              <div fxFlex="1 1 100px" fxLayoutAlign="end center">
                  <button (click)="createAuthor()" fxFlex="1 1 auto" mat-raised-button color="default" style="text-align: right" >New Author</button>
              </div>
            </div>
        </div>

        <!-- Author List -->
        <mat-list style="width: 100%;">
            <mat-list-item *ngFor="let author of authors" class="sweatworks-item" (click)="onClickAuthor(author)"> 
              <div fxLayout="row" style="width: 100%;"> 
                <div fxLayout="column" fxFlex="3 3 auto" >
                  <div class="name">{{author.name}}</div>
                  <div class="email">{{author.email}}</div>
                </div>
                <div fxFlex="1 1 100px" fxLayoutAlign="end center">{{author.birthday | date:'shortDate'}}</div>
              </div>
            </mat-list-item>
        </mat-list>
    </div>

    <div fxLayout="column" fxLayoutAlign="left top" fxFlex="100">

        <!-- Top Bar Title -->

        <div  fxLayout="row" fxLayoutAlign="start center" class="sweatworks-title-bar">
          <div fxFlex="1 1 auto">
            {{mainTitle}} {{nameAuthor}}
          </div>
          <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center">
              <a routerLink="/sweatworks/edit_author"  mat-raised-button color="default" >Edit Author</a>&nbsp;&nbsp;&nbsp;
              <a routerLink="/sweatworks/create_book"  mat-raised-button color="default" >New Publication</a>
          </div>
        </div>

        <!-- Main Dashboard -->
        <div  fxLayout="column"  >
            <div fxLayout="row" fxLayoutAlign="start start" style="padding: 20px;width:100%;" >
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
    
</div>