<!-- Shows Information of a Selected Author, Allows the CRUD operations  -->
<mat-card class="sweatworks-card">
    <mat-card-title>{{cardTitle}}</mat-card-title>
    <form #myForm="ngForm">
        <mat-card-content fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Full Name" value="" name="name" required="true" pattern="[a-zA-Z0-9_ ]{3,30}" [(ngModel)]="author.name"  >
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" value="" name="email" required="true" pattern="[a-zA-Z0-9_@.]{6,30}" [(ngModel)]="author.email"  >
            </mat-form-field>
            <mat-form-field>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"  name="birthday" required="true" placeholder="Birthday" [(ngModel)]="author.birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
        </mat-card-content>
        
        <button mat-raised-button color="default" (click)="onClickSave()" [disabled]="!myForm.valid "  style="float:right">Save</button>
        <a routerLink="/sweatworks" mat-raised-button color="gray" >Cancel</a>
        <button (click)="onClickDelete()"  mat-raised-button color="warn" style="float:right">Delete</button>
        
    </form>
</mat-card>
