@import '~@angular/material/theming';

@include mat-core();

/*

ESTE TEMA NO SE ESTÁ USANDO

$candy-app-primary: mat-palette($mat-red, 800, A400, A700);
$candy-app-accent:  mat-palette($mat-gray, 300, 600, 800);
$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
*/
/* Camino them for refactory (final theme) */

$camino-primary: mat-palette($mat-red, 800, 500, 900);
$camino-accent:  mat-palette($mat-gray, 400, 100, 800);
$camino-warn:    mat-palette($mat-red);

$camino-theme: mat-light-theme($camino-primary, $camino-accent, $camino-warn);

@include angular-material-theme($camino-theme);