/* Theme Color Variables */
$main_background:   #F5F5F5;    // Gray 50
$main_theme_color:  #C62828;    // Red 800
$main_toolbar:      #F5F5F5;    // Gray 50
$medium_text:       #757575;    // Gray 600
$dark_text:         #424242;    // Gray 800

/* Landscape and common styless */
.cf-box-shadow {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.cf-main-bg { // Background for the main theme color
    background-color: $main_background;
}

.cf-medium-bg { // Light background color
    background-color: $medium_text;
}

.cf-dark-bg { // Dark background color
    background-color: $dark_text;
}

.cf-medium-txt { // Medium Text Color
    color: $medium_text;
}

.cf-main-theme-color {
    background-color: $main_theme_color;
}


.cf-content { // Main content
    display: flex;
    flex-direction: column;
    background-color: $main_background;
    color: $medium_text;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.cf-toolbar { // Main Top Toolbar for states
    color: $medium_text;
    width: 70px;
    position: fixed;
    top: 10px;
    right: 10px;

    a {
        color: $medium_text;
    }
}

.cf-logo-block { // Main Common Logo Block for States
    display: flex;
    flex-direction: column;
    flex: 8 8 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    .cf-logo-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 200px;
        min-height: 70px;
        background-image: url('./assets/logo1080.jpg');
        background-repeat: no-repeat;
        background-clip: content-box;
        background-size:contain;
        background-position-x: center;
        flex:1 1 auto;
    }

    .cf-title-activity {
        color: $dark_text;
        width: 100%;
        justify-content: center;
        align-items: center;
        /*min-height: 40px;*/
        padding-top: 10px;
        text-align: center;

        h1 {
            font-size:3vh;
        }
    }

}

.cf-navbar-block { // Main navigation bar container
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1 1 10%;

    .cf-navbar-top {

        font-size: 2.5vh;
    }

    .cf-navbar-botomm {
        font-size: 2.5vh;

        .cf-navbar-left{
            font-size: 2.5vh;
        }

        .cf-navbar-right{
            font-size: 2.5vh;
        }

        .cf-navbar-url{
            flex: 100%;
            justify-content: center;
            align-items: center;
            font-weight: normal;
            text-align: center;
            h3 {
                font-size: 3vh;
            }
        }


    }
}

/* Customized for TEAMS */

.cf-teams {
    display: flex;
    flex-direction: row;
    color: white;
    flex: 8 8 40%;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .cf-teams-item {
        padding: 5px;
        flex-basis: 12%;
        max-height: 95%;
    }
}

/********************************************  LANDSCAPE HD STYLES  **************************************/
/*
@media all and (min-width: 600px) and (max-width: 790px) {

    .cf-content {
        min-height: 0;
    }

    .cf-logo-block .cf-title-activity h1 {
        font-size:2vh;
    }


    .cf-navbar-block {
        min-height: 70px;

        .cf-navbar .cf-navbar-url{
            flex: 100%;
            justify-content: center;
            align-items: center;
            h3 {
                font-size:2.5vh;
            }
        }

        .cf-navbar-top {
            font-size:2vh;
        }
    }

}
*/
/********************************************  PORTRAIT STYLES  **************************************/

@media all and (max-width: 599px) {

    .cf-content {
        min-height: 0;
    }

    .cf-logo-block {
        flex: none;
        justify-content: center;
        align-items: center;
        .cf-logo {
            margin-top: 5px;   
            margin-bottom: 0;
        
        }
        .cf-title-activity {
    
            h1 {
                font-size:4vw;
                margin-bottom: 10px;
            }
        }

    }

    .cf-navbar-block {
        min-height: 70px;

        .cf-navbar-top{
            font-size:3vw;
        }

        .cf-navbar .cf-navbar-url{
            flex: 100%;
            justify-content: center;
            align-items: center;
            h3 {
                font-size: 1em;
            }
        }

    }

    /* Logo image treatment */

    .cf-logo-block .cf-logo-img { // Main Common Logo Block for States
        display:block ;
        align-items: center;
        width: 100%;
        background-image: none;
        img{
            width: 50%;
            height: auto;
            margin-left: 25%;
        }
    }
    

    /* Customized for TEAMS */

    .cf-teams {
        flex-direction: column;
        flex: none; 
        background-color: white;

        .cf-teams-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            width: 90%;
            height:40px;
            margin-bottom: 10px;
            background-color: rgb(27, 106, 143);
            color: white;
        }

    }

}