/************************************
Flexbox
*************************************/

/* Portrait */

@media all and (max-width: 599px) {
/*
    .cf-content {
        min-height: 0;
    }

    .cf-logo-block {
        flex: none;
        justify-content: center;
        align-items: center;
    }

    .cf-teams {
        flex-direction: column;
        flex: none; 
        background-color: white;
    }

    .cf-teams .cf-teams-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 90%;
        height:40px;
        margin-bottom: 10px;
        background-color: rgb(27, 106, 143);
        color: white;
    }

    .cf-navbar-block {
        min-height: 70px;
    }
    
    .cf-navbar-block .cf-navbar .cf-navbar-url{
        flex: 100%;
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }
    */
  }