/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './states.css';

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

body{
    margin: 0;
    background-color: #eff2f5;
}

h1 {
    font-size: 1.8em;
    margin-top: 0px;
    margin-bottom: 35px;
}

.main {
    flex: 70%;
    padding: 20px;
}

.main-wm {
    flex: 70%;
    padding: 0px;
}

.custom-mt-50 {
    margin-top: 50px;
}

.custom-mb-50 {
    margin-bottom: 50px;
}

.custom-login {
    width: 300px;
    max-width: 300px;

}

.custom-title-center{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 73, 73);
    text-align: center;
}
.custom-w100 {
    width: 100%;
}

@media only screen and (max-width: 599px) {
    .custom-login {
        width: 98%;
        max-width: 98%;
        margin: 10px;
    }
    .main {
        flex: 100%;
        /*padding: 10px;*/
    }

    

}

.custom-full-container {
    flex: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
.custom-left-sidebar {
    -ms-flex: 0 0 230px;
    flex: 0 0 230px;
    min-height: 100vh;
    background-color: rgb(207, 207, 207);
}

.custom-top-bar, .custom-top-toolbar  { 
    height: 30px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-top-bar { 
    background-color: white;
    color: #a0a0a0;
}

.custom-top-bar .custom-top-bar-mobile {
   display: none;     
}

.custom-top-toolbar { 
    color:  rgb(131, 131, 131);
    z-index: 1000;
}

.custom-title-bar { 
    height: 50px;
    background-color: rgb(131, 131, 131);
    padding-left: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-sidebar-title {
    width: 100%;
    height: 80px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
   /* background-color: #fbc02d;*/
    background-color: #C62828;
    color: white;
}

.custom-selected-item {
    background-color: rgb(131, 131, 131);
}

.custom-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.custom-form-container-inside {
    padding: 30px 16px 30px 16px;
}


.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-max300 {
    width: 300px;
    height: auto;
    max-width:100%; /* responsive */
}

.img-max270 {
    width: 270px;
    height: auto;
    max-width:90%; /* responsive */
}

.img-max80 {
    width: 100px;
    height: auto;
}

.img-max600 {
    width: 700px;
    height: auto;
    max-width:90%; /* responsive */
}

.custom-max700-80p {
    width: 700px;
    max-width: 80%;
    height: auto;
}

.custom-wait-bar, .custom-playerwait-bar {
    width: 100%;
    background-color: #C62828;
    color:white;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-playerwait-bar {
    margin-bottom: 100px;
}

.custom-msg-bar {
    width: 100%;
    margin-bottom: 50px;
    background-color: rgb(207, 207, 207);
    color:black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.custocustom-msg-title-card {
    width: 100%;
    margin-bottom: 50px;
    background-color:transparent;
    color:#6b6b6b;
    font-family: Arial, Helvetica, sans-serif;
}

a, a:link, a:hover, a:visited {
    color: white;
    text-decoration: none;
}

.iButton:hover {
    cursor: pointer;
}

.item {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.custom-dialog-content {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.custom-title-dialog{
    flex: 1 1 auto;
}

.custom-topbar-team {
    height: 40px;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 100%;
    color: white;
    line-height: 40px;
    /*padding-right: 20px;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.custom-thumb {
    /*border: solid 1px #c5c3c3;
    padding: 4px;
    background-color: white;
    */
}

.custom-full-centered {
    flex: 1 1 auto;
    text-align: center;
}

.custom-nav-arrows {
    /*padding: 0 20px 0 20px;*/
    z-index: 1000;
}

.custom-buttom-arrows {
    background-color: #C62828;
    color: #ffffffff;
    border: none;
    outline:none;
}

.custom-buttom-arrows-bgw {
    background-color: #eff2f5;
    color: rgb(36, 36, 36);
    border: none;
    outline:none;
}

.custom-buttom-arrows-bgt {
    color: rgb(36, 36, 36);
    background-color: transparent;
    border: none;
    outline:none;
}

.custom-buttom-arrows:disabled,
.custom-buttom-arrows[disabled]{
  color: #ffffff50;
}

.custom-buttom-arrows-bgw:disabled,
.custom-buttom-arrows-bgw[disabled]{
  color: #6b6b6b;
}



.custom-box-shadow{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.custom-hover:hover {
    cursor: pointer;
}


/***************** mobile **********************/
.custom-top-bar-mobile {
    background-color: rgb(207, 207, 207);
    color: #484848;
    padding: 10px 10px 10px 6px;
}

.custom-top-bar-mobile i {
    margin-right: 20px;
}

.custom-title-bar-mobile {
    padding-left: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 30px;
    background-color: #C62828;
}

.custom-title-app-mobile{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}

.custom-list-item {
    width: 100%;
    border-bottom: solid 1px #bebebe;
    background-color: white;
}

.custom-list-item .code{
    color: black;
}

.custom-list-item mat-icon-button {
    position: absolute;
    right: 20px;
    color: #484848;
}

.custom-list-item .date {
    font-size: 12px;
    color: #bebebe;
}

/* Questions Blocks */

.custom-problem-block {
    width: 100%;
}

.custom-problem-title{
    font-family: arial;
    color:#333;
    font-size: 16px;
}

.ccustom-problem-content {
    width: 100%;
    height: 100%;
}

.custom-problem-text {
    color: white;
    padding: 10px;
    font-size:2vw;
    height:100%;
}